body {
  background: rgb(14, 146, 9);
  box-sizing: border-box;
}
.card {
  text-align: center;
  background: white;
  padding: 20px;
  margin: auto;
  height: 200px;
  font-size: 80px;
  padding-top: 180px;
  width: 250px;
  border: 1px solid black;
  border-radius: 8px;
  position: relative;
  &:before {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 80px;
  }
  &:after {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 80px;
    transform: rotate(180deg);
  }
  &.spade:before,
  &.spade:after {
    content: "\2660";
  }
  &.club:before,
  &.club:after {
    content: "\2663";
  }
  &.heart:before,
  &.heart:after {
    content: "\2665";
    color: red;
  }
  &.diamond:before,
  &.diamond:after {
    content: "\2666";
    color: red;
  }
}
// #btn {
//   border: 1px solid black;
//   border-radius: 12px;
// }
